<%= render "/navbar" %>


<% for i in 0..@vertical%>
    <div class="tile is-ancestor">
        <% for i in 0..Random.rand(0..3)%>
            <%- @subject = @subjects.sample %>
            <%= link_to (@subject), class:"tile is-parent" do %>
           
                <article class="tile is-child notification <%= ['q','w','e','r','t','y','i','u','o'].sample%> nonrounded">
                        <p class="subtitle"><%= @subject.name%></p>
                        <p>Explore </p>
                        <br>
                </article>
            <%end%>
        <% end %>
    </div>
<% end %>
