<%= render "/navbar" %>

<p id="notice"><%= notice %></p>

  <h1 class="title">Groups from <%= @country.name %></h1>
  <table class="table">
  <thead></thead>
  <tbody>
  
  <% @country.groups.each do |group|%>
    <tr><td class="subtitle"><%= link_to group.name, group %></td></tr>
    <%end%>
    <tbody>
    </table>
