/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";
.nonrounded{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 0;
}
body{
    margin: 1%;
    margin-left: 10%;
    margin-right: 10%;
}
.navbar-brand{
    margin-left: 5%;
}
.navbar-end{
    margin-right: 5%;
}
.tile{
    transition: all 0.7s ease;
}
.is-child:hover{
    background: rgb(24, 0, 37);
    transition: all 0.7s ease;
    transform: scale(1.05);
}
input.check_boxes{
    margin: 10px;
}
tr:hover{
    background: rgb(252, 238, 255);
    transition: all 0.5s ease;
}
.bold{
    font-weight: bolder;
}
.chang{
    width: 100%;
}