/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

.nonrounded{
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 0;
}
body{
    margin: 1%;
    margin-left: 10%;
    margin-right: 10%;
}
.navbar-brand{
    margin-left: 5%;
}
.navbar-end{
    margin-right: 5%;
}
.tile{
    transition: all 0.7s ease;
}
.is-child:hover{
    background: rgb(24, 0, 37);
    transition: all 0.7s ease;
    transform: scale(1.05);
}
input.check_boxes{
    margin: 10px;
}
input.radio_buttons{
    margin: 10px;
}
tr:hover{
    background: rgb(252, 238, 255);
    transition: all 0.5s ease;
}
.bold{
    font-weight: bolder;
}
.chang{
    width: 100%;
}
.aut {
    width: 100%;
}
// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
article{
    color: white;
}

article.q{
    background: #7B1FA2;    
}
article.w{
    background: #512DA8;
}
article.e{
    background: #303F9F;
}
article.r{
    background: #6A1B9A;
}
article.t{
    background: #4527A0;
}
article.y{
    background: #283593;
}
article.u{
    background: #4A148C;
}
article.i{
    background: #311B92;
}
article.o{
    background: #1A237E;
}
a:link{ 
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
    font-variant: small-caps; 
} 
.log{
    background: rgb(240, 126, 255);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 10px;
    padding: 5px;
    margin-left: 8px;
    text-decoration: none;
}
.login{
    background: rgb(193, 255, 174);
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
    border-radius: 10px;
    padding: 5px;
    margin-left: 8px;
    text-decoration: none;
}
